<html>
  <head>
    <link href="../../assets/style.css" rel="stylesheet" />
    <script src="../../assets/scripts.js"></script>
  </head>
  <body>
    <div id="main" style="width: 1280px; height: 1280px; background-image: url('background.png'); flex-direction: column; justify-content: space-between">

      <div id="upper" style="padding: 36px 40px 0 43px; flex-direction: column;">
        <div id="header" style="width: 366px; height: 145px; background-image: url('../../plates/140.png'); flex-direction: row; justify-content: flex-end; padding: 26px 8px 0 0; margin: 0 0 0 4px;">
          <div id="info" style="flex-direction: column;">
            <div style="width: 269px; height: 33px; background-image: url('header_shougou.png'); justify-content: center; padding: 6px">
              <span id="name-title" style="color: #444444; font-size: 14px; font-family: '阿里巴巴普惠体-B'; text-stroke: #ffffff 2px;">信息展示</span>
            </div>

            <div style="margin: -5px 0 0 4px">
              <div id="name-container" style="width: 209px; height: 56px; flex-direction: column; background-image: url('header_name.png'); padding: 9px 0 0 8px;">
                <div style="height: 28px;">
                  <span style="font-size: 14px; font-family: '阿里巴巴普惠体-B'; margin: 8px 0 0 0">Lv.</span>
                  <span id="level" style="font-size: 22px; font-family: '阿里巴巴普惠体-B'; margin: 0 14px 0 0">1</span>
                  <span id="name" style="font-size: 22px; font-family: '阿里巴巴普惠体-B'; margin: 0 0 0 0">ＸＳＺＱ</span>
                </div>
                <div id="rating-line" style="align-items: flex-end; margin: 2px 0 0 0">
                  <img id="rating" src="rating_5.png" style="width: 39px; height: 9px; object-fit: none;" />
                  <div id="rating-container" style="width: 52px; justify-content: flex-end; margin: 0 0 0 4px">
                    <img id="rating-1" src="rating_1_1.png" style="object-fit: none; margin: 0 0 0 1px" />
                    <img id="rating-2" src="rating_1_1.png" style="object-fit: none; margin: 0 0 0 1px" />
                    <img id="rating-dot" src="rating_1_dot.png" style="object-fit: none; margin: 0 -3px 0 3px" />
                    <img id="rating-3" src="rating_1_1.png" style="object-fit: none; margin: 0 0 0 1px" />
                    <img id="rating-4" src="rating_1_1.png" style="object-fit: none; margin: 0 0 0 1px" />
                  </div>
                </div>
              </div>
              <div style="width: 56px; height: 56px; padding: 1px; margin: 0 0 0 -2px">
                <img id="avatar" src="../../avatars/0.png" style="width: 54px; height: 54px;"/>
              </div>
            </div>
          </div>
        </div>

        <div style="justify-content: center; padding: 14px 0 12px 0; margin: -30px 0 0 0">
          <div style="width: 142px; height: 24px; background-image: url('category_background.png'); justify-content: center; align-items: center; padding: 0 0 2px 0">
            <span id="name" style="font-size: 12px; font-family: '阿里巴巴普惠体-B'; color: #ffffff">BEST 30</span>
          </div>
        </div>

        <div id="scores" style="flex-wrap: wrap;">
        </div>

        <div style="justify-content: center; padding: 14px 0 12px 0">
          <div style="width: 142px; height: 24px; background-image: url('category_background.png'); justify-content: center; align-items: center; padding: 0 0 2px 0">
            <span id="name" style="font-size: 12px; font-family: '阿里巴巴普惠体-B'; color: #ffffff">NEW 20</span>
          </div>
        </div>

        <div id="scores-new" style="flex-wrap: wrap;">
        </div>
      </div>

      <div id="footer" style="justify-content: center; background-color: #013162; padding: 12px">
        <span id="copyright" style="font-size: 22px; font-family: '阿里巴巴普惠体-H'; color: #ffffff; text-shadow: #000000 1px 1px;">
          可怜Bot 9.0 by 心水湛清 617 | https://bot-docs.otmdb.cn
        </span>
      </div>
    </div>
    
    <div id="music" style="width: 238px; height: 96px; background-image: url('base_None.png'); padding: 10px 0 10px 10px; margin: 0 2px -2px -1px;">
      <div id="cover" style="width: 72px; height: 72px; justify-content: start; align-items: flex-start;">
      </div>

      <div id="info" style="flex-direction: column; width: 144px; justify-content: space-between; margin: 1px 0 0 4px;">
        
        <div style="flex-direction: column; width: 144px; height: 48px; justify-content: space-between;">
          <div style="width: 144px; justify-content: space-between;">
            <span id="index-id" style="color: #ffffff; font-size: 10px; font-family: '阿里巴巴普惠体-B'; margin: -3px 0 0 0;"></span>
            <span id="level-rating" style="color: #ffffff; font-size: 10px; font-family: '阿里巴巴普惠体-B'; margin: -3px 0 0 0;"></span>
          </div>
          
          <span id="title" style="width: 140px; min-height: 17px; color: #ffffff; font-size: 12px; font-family: '阿里巴巴普惠体-B', '方正兰亭粗黑_GBK'; display: inline-block; white-space: nowrap; overflow: hidden; margin: -3px 0 0 0;"></span>
          
          <div id="achievement" style="align-items: flex-end; margin: -7px 0 0 -2px;">
            <span id="achievement-1" style="color: #ffffff; font-size: 28px; font-family: '阿里巴巴普惠体-H';"></span>
            <span id="achievement-2" style="color: #ffffff; font-size: 24px; font-family: '阿里巴巴普惠体-H'; margin: 0 0 1px 0"></span>
          </div>
        </div>

        <div id="extra" style="width: 144px; justify-content: space-between; margin: 0 0 4px 0">
          <img id="status" src="" style="object-fit: none;" />
          <img id="rank" src="" style="object-fit: none;"/>
        </div>

      </div>
    </div>
  </body>
</html>